:root {
  margin: 0px;
  padding: 0px;

  --white: #ffffff;
  --ebonyClay: #2b2d42;
  --lightGrey: #EDF2F4;
  --regentGrey: #8d99ae;
  --lightRed: #ef233c;
  --darkRed: #c30425;
  --shadeRed: #ffa5a5;
  /* --darkRed: #d90429; */
  --brightBlue: #0171E2;
  --lightWhite: #e1e1e1;
  /* --lightWhite: #fafafa; */

  --darkOrange: #E16349;
  --bgGrey: #F8F8F8;
  --greyShade1: #B9B9B9;
  --greyShade2: #DBDBDE;
  --orangeShade1: #EFBBB0;
  --orangeShade2: #F3D6D1;
  --orangeShade3: #F6EBE9;
  --eerieBlack: #353535;

  --bgBlack: #dddddc;
  --bgBlack2: #f5f5f4;

  --squashYellow: #fca311;
  --zodiacBlue: #14213d;
  --electricBlue: #5B6477;
  --zephyrBlue: #5b6477;
  --romanSilver: #8a909e;
  --harpBlue: #EAEDF2;

  --paleGrey: #FDFDFD;
  --azureBlue: #0588F8;
  --trueBlue: #036fc6;
  --blackCoral: #5a6268;
  --auroMetal: #6c757d;
  --encarnado: #FD0103;
  --ultraRed: #FF6584;
  --shuttleGrey: #5b6477;
  --santaGrey: #a1a6b1;
  --gooseGrey: #e8e9ec;
  --slateGrey: #7c8392;

  --lavendar: #EDDEF6;
  --blackChoco: #122109;
  --paleBlue: #B3EBF2;
  --columbiaBlue: #CCE5E3;
  --chocoKisses: #331A1C;
  --peach: #FEE1B6;
  --oxfordBlue: #011E49;
  --antiWhite: #F2F2F2;
  --smokyBlack: #0D0D0D;
  --darkCharcoal: #2F2F2F;
  --americanSilver: #D0D0D0;
  --charmPink: #c37892;
  --greenSheen: #78C3A9;

  --antiFlashWhite: #F3F3F3;
  --brightGray: #EBEBEB;
  --taupeGray: #898989;
  --chineseBlack: #091225;
  --charlestonGreen: #292929;
}

* {
  margin: 0;
  padding: 0;
}

.to__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor__pointer {
  cursor: pointer;
}

.digits {
  /* letter-spacing: 0.05em;  Adjust this value to increase/decrease spacing */
}

.decimal {
  margin: 0 0.2em; /* Adjust for spacing around the decimal point */
}

/* Small devices */
@media only screen and (max-width: 600px) {

}

/* Medium devices */
@media only screen and (min-width: 600px) {

}

/* Large devices */
@media only screen and (min-width: 992px) {
  
}